<p-toast [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-toast>
<button pButton type="button" (click)="cancelar()" label="Professores" class="ui-button-raised"></button>
<div class="card-professor">
    <p-card header="Novo professor" [style]="{width: '100%'}" styleClass="ui-card-shadow">
        <div class="ui-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-6">
                <label for="nome">Nome do professor</label>
                <input id="nome" type="text" [(ngModel)] = "professor.nome" name="nome" pInputText required> 
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label for="titulacao">Titulação</label>
                <input id="titulacao" type="text" [(ngModel)] = "professor.titulacao" name="titulacao" pInputText required> 
            </div>
        </div>

        <p-footer>
            <button pButton type="button" (click)="cadastrarProfessor()" label="Cadastrar" class="ui-button-raised"></button>
            <button pButton type="button" (click)="cancelar()" label="Cancelar" class="ui-button-raised ui-button-secondary"></button>
        </p-footer>
    </p-card>
</div>