<p-toast [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-toast>
<button pButton type="button" (click)="createTurma()" label="Cadastrar turma" class="ui-button-raised"></button>
<div class="card-turma">
    <h3 class="first">Turmas cadastradas</h3>
    <p-table [value]="turmas">
        <ng-template pTemplate="header">
            <tr>
                <th>#</th>
                <th>Código</th>
                <th>Sala</th>
                <th>Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-turma>
            <tr>
                <td>{{turma.id}}</td>
                <td>{{turma.codigo}}</td>
                <td>{{turma.sala}}</td>
                <td>
                    <a routerLink="/turma/alunos/{{ turma.id }}" pButton type="button" icon="pi pi-plus" label=" Adicionar alunos" class="ui-button-rounded ui-button-success"></a>
                    <a routerLink="/turma/alunos/listar/{{ turma.id }}" pButton type="button" icon="pi pi-plus" label=" Ver alunos" class="ui-button-rounded ui-button-warning"></a>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>