<p-toast [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-toast>
<button pButton type="button" (click)="cancel()" label="Alunos" class="ui-button-raised"></button>
<div class="card-aluno">
    <p-card header="Novo aluno" [style]="{width: '100%'}" styleClass="ui-card-shadow">
        <div class="ui-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-6">
                <label for="nome">Nome do aluno</label>
                <input id="nome" type="text" [(ngModel)] = "aluno.nome" name="nome" pInputText required> 
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label for="matricula">Matricula</label>
                <input id="matricula" type="number" [(ngModel)] = "aluno.matricula" name="matricula" pInputText required> 
            </div>
        </div>

        <p-footer>
            <button pButton type="button" (click)="matricularAluno()" label="Matricular" class="ui-button-raised"></button>
            <button pButton type="button" (click)="cancel()" label="Cancelar" class="ui-button-raised ui-button-secondary"></button>
        </p-footer>
    </p-card>
</div>